body{
background: #f0f0f0;
font-family: Century gothic;
margin: 0;
}

h1{
	color: white;
}

h3{
	padding-top: 25px;
	padding-left: 10px;
	color: #556;
}

h4{
	padding-top: 8%;
	padding-left: 15px;
	text-align: center;
}

p{
	padding: 1%;
	text-align: center;
}

img{

	text-align: center;
	max-width: 50%;
	height: auto;
	width: auto;
}

a{
	color: #555;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #222;
}

header{
	background: #556;
	margin: 0;
	padding-top: 25px;
	opacity: 0.90;
}

nav {
	float: right;
	padding: 0 20px 20px 0;	
}

ul {
	list-style-type: none;
	text-align: center;
}

nav ul li{
	display: inline-block;
	float: left;
	padding: 10px
}


.doc{
	margin: 40px 0;
}
.content{
	margin: 0 auto;
	max-width:1140px;
}

.blueberry{
	max-width:960px
	margin-top:110px;
}

section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}

footer{
	background: #556;
	width: 100%;
	overflow: hidden;
	opacity: 1%;
	color: white;
}

footer.copywright{
	background: #777;
}


